<h1>Welcome to the Star Wars Fan Page</h1>
<h2>Powered by <a href="https://swapi.dev/">SWAPI</a></h2>

<%= link_to 'People', people_path %><br>
<%= link_to 'Planets', planets_path %><br>
<%= link_to 'Species', species_path %>